@import './global/variables.scss';

.movie-detail {
    .movie-img {
        img {
            padding: 20px;
            width: 100vw;
        }
    }

    .movie-info {
        padding: 20px;

        .movie-lang {
            text-transform: uppercase;
            margin-left: 15px;
            border: solid 1px darkgrey;
            border-radius: 3px;
            padding: 2px;
        }
    }
}

@media screen and (min-width: map-get($breakpoint, tablet)) {
    .movie-detail {
        display: flex;

        .movie-img {
            img {
                width: 40vw;
            }
        }
    }
}
