.movie-item {
    .movie-title {
        font-size: 20px;
    }
    .info-btn {
        color: white;
        background-color: red;

        &:hover {
            color: white;
            background-color: #cc0000;
        }
    }
}
