footer {
    height: 210px;
    text-align: center;
    position: relative;

    .footer-title {
        color: white;
        text-transform: uppercase;
        padding: 20px 0;
        margin: 0;
        font-size: 30px;
        font-weight: 500;
    }

    ul {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        margin: 0 35%;
        justify-content: space-around;

        a {
            font-size: 30px;
            color: lightgrey;

            &:hover {
                color: darkgrey;
            }
        }
    }

    .copyright {
        color: white;
        position: absolute;
        left: 50%;
        bottom: 0;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
}
